name: Java CI

on: [push]

jobs:
  Clone-down:
    name: Clone down repo
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Upload Repo
      uses: actions/upload-artifact@v1
      with:
        name: code
        path: .
  Test:
      runs-on: ubuntu-latest
      needs: [Clone-down]
      container: gradle:jdk11
      steps:
      - name: Download code
        uses: actions/download-artifact@v1
        with:
          name: code
          path: . 
      - name: ls
        run: ls
      - name: Test and build with Gradle
        run: ci/unit-test-app.sh
  Build:
      runs-on: ubuntu-latest
      needs: [Clone-down]
      container: gradle:jdk11
      steps:
      - name: Download code
        uses: actions/download-artifact@v1
        with:
          name: code
      - name: Test and build with Gradle
        run: code/ci/unit-test-app.sh
      - name: Upload Repo
        uses: actions/upload-artifact@v1
        with:
          name: code
          path: .
  Docker-image:
    runs-on: [ubuntu-latest]
    needs: [Build]
    steps:
    - name: Download code
      uses: actions/download-artifact@v1
      with:
        name: code
        path: .
    - name: build docker
      run: ci/build-docker.sh
    - name: push docker
      run: code/ci/push-docker.sh
  Component-test:
    runs-on: [ubuntu-latest]
    needs: [Docker-image]
    steps:
    - name: Download code
      uses: actions/download-artifact@v1
      with:
        name: code
    - name: Execute component test
      run: code/ci/component-test.sh
